@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --spacing-0px: 0rem;
    --spacing-2px: 0.125rem;
    --spacing-4px: 0.25rem;
    --spacing-6px: 0.375rem;
    --spacing-8px: 0.5rem;
    --spacing-10px: 0.625rem;
    --spacing-12px: 0.75rem;
    --spacing-14px: 0.875rem;
    --spacing-16px: 1rem;
    --spacing-18px: 1.125rem;
    --spacing-20px: 1.25rem;
    --spacing-24px: 1.5rem;
    --spacing-28px: 1.75rem;
    --spacing-30px: 1.875rem;
    --spacing-40px: 2.5rem;
    --spacing-60px: 3.75rem;
    --spacing-80px: 5rem;

    --opacity-0: 0;
    --opacity-10: 0.1;
    --opacity-20: 0.2;
    --opacity-30: 0.3;
    --opacity-40: 0.4;
    --opacity-50: 0.5;
    --opacity-60: 0.6;
    --opacity-70: 0.7;
    --opacity-80: 0.8;
    --opacity-90: 0.9;
    --opacity-100: 1;

    --utility-success: 122.4deg 88.2% 50%;
    --utility-danger: 3deg 91% 52%;
  }

  :root[class~="dark"] {
    --primitive-100: 240deg 10% 3.9%;
    --primitive-200: 220deg 6.1% 9.6%;
    --primitive-300: 225deg 5.7% 13.7%;
    --primitive-400: 240deg 4.7% 16.9%;
    --primitive-500: 230deg 5.9% 20%;
    --primitive-600: 231.4deg 5.8% 23.7%;
    --primitive-700: 226.7deg 6% 29.2%;
    --primitive-800: 230deg 6% 39.2%;
    --primitive-900: 230.8deg 5.7% 44.9%;
    --primitive-1000: 230.8deg 5.1% 50%;
    --primitive-1100: 234.5deg 7.7% 72%;
    --primitive-1200: 240deg 6.2% 93.7%;

    --bg-default: var(--primitive-200);
    --bg-subtle: var(--primitive-400);
    --bg-inverse: var(--primitive-1200);

    --fg-default: var(--primitive-1200);
    --fg-subtle: var(--primitive-1100);
    --fg-inverse: var(--primitive-100);

    --border-default: var(--primitive-400);
    --border-inverse: var(--primitive-1200);

    --trackline: var(--primitive-600);
    --trackline-hover: var(--primitive-900);
    --trackline-active: var(--primitive-1200);

    --shadow-default: var(--primitive-200);
  }

  :root[class~="light"] {
    --primitive-100: 240deg 20% 99%;
    --primitive-200: 240deg 20% 98%;
    --primitive-300: 225deg 14.3% 94.5%;
    --primitive-400: 228deg 11.6% 91.6%;
    --primitive-500: 230deg 10.7% 89%;
    --primitive-600: 232.5deg 11.4% 86.3%;
    --primitive-700: 234deg 11.1% 82.4%;
    --primitive-800: 230.8deg 10.2% 75.1%;
    --primitive-900: 230.8deg 5.9% 57.1%;
    --primitive-1000: 230.8deg 5.4% 52.7%;
    --primitive-1100: 234deg 4.9% 40.4%;
    --primitive-1200: 230deg 9.1% 12.9%;

    --bg-default: var(--primitive-100);
    --bg-subtle: var(--primitive-300);
    --bg-inverse: var(--primitive-1200);

    --fg-default: var(--primitive-1200);
    --fg-subtle: var(--primitive-1100);
    --fg-inverse: var(--primitive-100);

    --border-default: var(--primitive-800);
    --border-inverse: var(--primitive-1200);

    --shadow-default: var(--primitive-400);
  }

  html {
    font-family: "NeueMontreal";
    -webkit-font-smooting: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    position: relative;
    overflow-x: hidden;

    transition: color 300ms ease-in-out;
  }

  main {
    min-height: calc(100vh - 200px);
  }

  hr {
    border-color: hsl(var(--border-default));
    border-width: 0.5px;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    body {
      padding: 0px 40px;
    }
  }
}

@layer components {
  #observer {
    display: none;

    position: fixed;
    height: calc(100vh - 80%);
    top: 0;
    width: 100%;
    border-bottom: 1px solid red;
    z-index: 100;

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      margin-top: 10%;
      width: 100%;
      border-top: 1px solid lightgreen;
    }
  }

  .project-page-grid {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 700px) 1fr;
    grid-gap: 10px;
    max-width: 1200px;
    column-gap: 32px;
    row-gap: 80px;
  }

  .spy-items-container {
    position: relative;
    overflow: hidden;
    padding-left: 4px;
    padding-top: 2px;
  }

  .spy-item:first {
    margin-top: 0px;
  }

  .spy-item {
    margin-top: 8px;
  }

  .spy-items-container[data-state="open"] {
    animation: slideDown 300ms cubic-bezier(0.9, 0, 0.4, 1);
  }

  .spy-items-container[data-state="closed"] {
    animation: slideUp 300ms cubic-bezier(0.9, 0, 0.4, 1);
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  .spy-item {
    cursor: pointer;
    width: fit-content;
    position: relative;
    display: flex;
    gap: 4px;
    padding-left: 16px;

    &:hover {
      opacity: 100%;
    }
  }

  .trackline.hovered {
    border-color: hsl(var(--trackline-hover));
  }

  .trackline.path.active,
  .trackline.active {
    border-color: hsl(var(--trackline-active));
  }

  .trackline {
    transition: border-color 300ms ease-in-out;
    mix-blend-mode: lighten;
  }

  .trackline-v {
    position: absolute;
    left: 0;
    top: -24px;
    bottom: 16px;
    border-left: 1px;
    border-style: solid;
    border-color: hsl(var(--trackline));
    width: 1px;
  }

  .trackline-h {
    position: absolute;
    left: 0px;
    display: inline-block;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: hsl(var(--trackline));
    border-radius: 0 0 0 8px;
    width: 12px;
    height: 8px;
    margin-bottom: 8px;
  }

  .light-streak {
    width: 900px;
    height: 70px;
    opacity: 40%;
    transform: rotate(30deg);
    position: absolute;
    left: -30em;
    top: 0px;
    filter: blur(150px);
    background: hsl(var(--fg-default));
  }

  .status-badge {
    background: linear-gradient(
      -175deg,
      hsl(var(--primitive-600)),
      hsl(var(--primitive-300)),
      hsl(var(--primitive-200))
    );

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: 9px;
      background: linear-gradient(
        10deg,
        hsl(var(--primitive-100)),
        hsl(var(--primitive-800))
      );
    }
  }

  .journal-page-header {
    width: inherit;
  }

  .button {
    border-color: hsl(var(--primitive-300));
    clip-path: margin-box;
  }

  .button-bg {
    opacity: 0%;
    position: absolute;
    top: -24px;
    left: -100px;
    right: -100px;
    bottom: -24px;
    z-index: -1;
    border-radius: 6px;
    box-shadow: var(--shadow-default);
    background: linear-gradient(
      35deg,
      hsl(var(--primitive-100)) 40%,
      hsl(var(--primitive-800))
    );
  }

  .badge {
    background: hsl(var(--primitive-200));
  }

  .navbar {
    background: hsl(var(--primitive-300));
    border-bottom: 1px solid hsl(var(--primitive-100));
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: 9px;
      box-shadow: 0px 1px 4px hsl(var(--primitive-100));
      background: linear-gradient(
        0deg,
        hsl(var(--primitive-200)),
        hsl(var(--primitive-800))
      );
    }
  }

  #footer-globe:after {
    content: "";
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(
      to top,
      hsl(var(--bg-default) / 1),
      hsla(var(--bg-default) / 0)
    );
    width: 100%;
    height: 2em;
  }

  #footer-globe:before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: -1px;
    pointer-events: none;
    background: linear-gradient(
      to left,
      hsl(var(--bg-default) / 1),
      hsla(var(--bg-default) / 0)
    );
    height: 100%;
    width: 8em;
  }

  :root[class~="light"] {
    .status-badge {
      background: linear-gradient(
        0.45turn,
        hsl(var(--primitive-400)),
        hsl(var(--primitive-300)),
        hsl(var(--primitive-100))
      );

      &:before {
        background: linear-gradient(
          to right,
          hsl(var(--primitive-700)),
          hsl(var(--primitive-200))
        );
      }
    }

    .badge {
      background: hsl(var(--primitive-300));
    }
  }

  @media screen and (max-width: 768px) {
    .project-page-grid {
      grid-template-columns: 1fr;
    }
  }
}
