@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "NeueMontreal";
    -webkit-font-smooting: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  @media screen and (max-width: 600px) {
    body {
      padding: 0px 40px;
    }
  }

  :root {
    --spacing-0px: 0rem;
    --spacing-2px: 0.125rem;
    --spacing-4px: 0.25rem;
    --spacing-6px: 0.375rem;
    --spacing-8px: 0.5rem;
    --spacing-10px: 0.625rem;
    --spacing-12px: 0.75rem;
    --spacing-14px: 0.875rem;
    --spacing-16px: 1rem;
    --spacing-18px: 1.125rem;
    --spacing-20px: 1.25rem;
    --spacing-24px: 1.5rem;
    --spacing-28px: 1.75rem;
    --spacing-30px: 1.875rem;
    --spacing-32px: 2rem;

    --opacity-0: 0;
    --opacity-20: 0.2;
    --opacity-40: 0.4;
    --opacity-60: 0.6;
    --opacity-80: 0.8;
    --opacity-100: 1;

    --utility-success: hsl(122.4, 88.2%, 50%);
  }

  :root[class~="dark"] {
    --primitive-100: hsl(240, 10%, 3.9%);
    --primitive-200: hsl(220, 6.1%, 9.6%);
    --primitive-300: hsl(225, 5.7%, 13.7%);
    --primitive-400: hsl(240, 4.7%, 16.9%);
    --primitive-500: hsl(230, 5.9%, 20%);
    --primitive-600: hsl(231.4, 5.8%, 23.7%);
    --primitive-700: hsl(226.7, 6%, 29.2%);
    --primitive-800: hsl(230, 6%, 39.2%);
    --primitive-900: hsl(230.8, 5.7%, 44.9%);
    --primitive-1000: hsl(230.8, 5.1%, 50%);
    --primitive-1100: hsl(234.5, 7.7%, 72%);
    --primitive-1200: hsl(240, 6.2%, 93.7%);

    --bg-default: var(--primitive-100);
    --bg-subtle: var(--primitive-400);
    --bg-inverse: var(--primitive-1200);

    --fg-default: var(--primitive-1200);
    --fg-subtle: var(--primitive-1100);
    --fg-inverse: var(--primitive-100);

    --border-default: var(--primitive-600);
    --border-inverse: var(--primitive-1200);

    --shadow-default: var(--primitive-200);
  }

  :root[class~="light"] {
    --primitive-100: hsl(240, 20%, 99%);
    --primitive-200: hsl(240, 20%, 98%);
    --primitive-300: hsl(225, 14.3%, 94.5%);
    --primitive-400: hsl(228, 11.6%, 91.6%);
    --primitive-500: hsl(230, 10.7%, 89%);
    --primitive-600: hsl(232.5, 11.4%, 86.3%);
    --primitive-700: hsl(234, 11.1%, 82.4%);
    --primitive-800: hsl(230.8, 10.2%, 75.1%);
    --primitive-900: hsl(230.8, 5.9%, 57.1%);
    --primitive-1000: hsl(230.8, 5.4%, 52.7%);
    --primitive-1100: hsl(234, 4.9%, 40.4%);
    --primitive-1200: hsl(230, 9.1%, 12.9%);

    --bg-default: var(--primitive-100);
    --bg-subtle: var(--primitive-300);
    --bg-inverse: var(--primitive-1200);

    --fg-default: var(--primitive-1200);
    --fg-subtle: var(--primitive-1100);
    --fg-inverse: var(--primitive-100);

    --border-default: var(--primitive-600);
    --border-inverse: var(--primitive-1200);

    --shadow-default: var(--primitive-400);
  }
}

@layer components {
  hr {
    border-color: var(--border-default);
    border-width: 0.5px;
  }

  .light-streak {
    width: 800px;
    height: 160px;
    opacity: 40%;
    transform: rotate(30deg);
    position: absolute;
    left: -25em;
    top: 0px;
    filter: blur(150px);
    background: var(--fg-default);
  }

  .badge {
    display: flex;
    width: fit-content;
    align-items: center;
    color: var(--fg-default);
    gap: 8px;
    padding: 10px 12px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px var(--shadow-default);
    background: linear-gradient(
      0.45turn,
      var(--primitive-600),
      var(--primitive-300),
      var(--primitive-100)
    );

    border: 1px;
    background-clip: padding-box;
    position: relative;
    border: solid 1px transparent;
    border-radius: 8px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: 9px;
      background: linear-gradient(
        to right,
        var(--primitive-400),
        var(--primitive-900)
      );
    }
  }

  :root[class~="light"] {
    .badge {
      box-shadow: 0px 4px 4px var(--shadow-default);
      background: linear-gradient(
        0.45turn,
        var(--primitive-400),
        var(--primitive-300),
        var(--primitive-100)
      );

      &:before {
        background: linear-gradient(
          to right,
          var(--primitive-700),
          var(--primitive-200)
        );
      }
    }
  }

  .button {
    height: 40px;
    position: relative;
    padding: 12px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: var(--primitive-400);
    border-radius: 8px;
    clip-path: margin-box;
  }

  .button-bg {
    position: absolute;
    top: -24px;
    left: -100px;
    right: -100px;
    bottom: -24px;
    z-index: -1;
    border-radius: 6px;
    box-shadow: var(--shadow-default);
    background: linear-gradient(
      35deg,
      var(--primitive-100) 40%,
      var(--primitive-800)
    );
    opacity: 0%;

    &:hover {
      opacity: 40%;
      translate: 80px;
    }
  }
}
